.browniePic{
  width:30%;
  margin-left:auto;
  margin-right:auto;
}

.browniePic:hover{
  background:linear-gradient(to right top, #fdf6c8, #faedc0, #f7e4b9, #f3dbb2, #efd2ac);
  border-radius:30%;
}


@media screen and (max-height:760px){
  .browniePic{
    width:20%;
    margin-left:80px;
  }
  .brownieWord{
    margin-left:80px;
  }
}

@media screen and (max-width:736px){
  .browniePic{
    width:20%;
    margin-left:80px;
  }
  .brownieWord{
    margin-left:80px;
  }
}

@media screen and (max-width:667px){
  .browniePic{
    width:20%;
    margin-left:80px;
  }
  .brownieWord{
    margin-left:80px;
  }
}
