.browniePic{
  width:30%;
  margin-left:auto;
  margin-right:auto;
}


@media screen and (max-height:760px){
  .browniePic{
    width:20%;
    margin-left:60px;
  }
  .brownieWord{
    margin-left:60px;
  }
}

