.cakePic{
  width:60%;
  margin-left:auto;
  margin-right:auto;
}

.cakePic:hover{
  background:rgb(255,229,180,.8);
  border-radius:50%;
}


@media screen and (max-height:760px){
  .cakePic{
    width:30%;
    margin-left:70px;
  }
  .cakeWord{
    margin-left:50px;
  }

}


@media screen and (max-width:736px){
  .cakePic{
    width:30%;
    margin-left:70px;
  }
  .cakeWord{
    margin-left:50px;
  }
}

@media screen and (max-width:667px){
  .cakePic{
    width:30%;
    margin-left:70px;
  }
  .cakeWord{
    margin-left:50px;
  }
}
