.candyPic{
  width:70%;
  margin-left:auto;
  margin-right:auto;
}

.candyPic:hover{
  background:rgb(255,229,180,.8);
  border-radius:40%;
}


@media screen and (max-height:760px){
  .candyPic{
    width:40%;
    margin-left:auto;
    margin-right:auto;
  }
  .candyWord{
    margin-left:30px;
  }
}

@media screen and (max-width:736px){
  .candyPic{
    width:40%;
    margin-left:auto;
    margin-right:auto;
  }
  .candyWord{
    margin-left:30px;
  }
}

@media screen and (max-width:667px){
  .candyPic{
    width:50%;
    margin-left:auto;
    margin-right:auto;
  }
  .candyWord{
    margin-left:30px;
  }
}