*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
.insideCategory h1{
  text-align: center;
}

.insideCategory ul{
  text-align: center;
  margin-top:20px;
}

.insideCategory ul li{
  margin:15px;
  font-size:15px;
  font-weight: bold;
}

.insideCategory ul li a{
  color:black;
}

.insideCategory{
  margin:0 200px;
  padding-top:40px;
}

.outsideCategory{
  background-image: url('../Project-3-Pictures/other/category.png?noresize');
  height:100vh;
  background-size:cover;

}

.innerCategory{
  background:rgb(255,255,255,.9);
  border-radius:3%;
  padding:10px;
}

.itemDiv{
  width:400px;
  display:flex;
  justify-content: space-between;
}


@media screen and (max-height:800px){
  
}