

img{
  width:60%;
  margin-right:auto;
  margin-left:auto;
}

.cookieImage{
  width:50%;
}



h3{
  color:black;
  text-decoration:none;
}

a{
  text-decoration: none;
}


@media screen and (max-height:760px){
  .cookieImage{
    width:20%;
    margin-left:30px;
  }
  .cookieWord{
    margin-left:25px;
  }
}

@media screen and (max-width:760px){
  .cookieImage{
    width:20%;
    margin-left:30px;
  }
  .cookieWord{
    margin-left:25px;
  }
}


@media screen and (max-width:736px){
  .cookieImage{
    width:20%;
    margin-left:30px;
  }
  .cookieWord{
    margin-left:25px;
  }
}