.otherPic{
  width:50%;
  margin-left:auto;
  margin-right:auto;
}


@media screen and (max-height:800px){
  .otherPic{
    width:20%;
    margin-left:170px;
  }
  .otherWord{
    margin-left:170px;
  }
}