.otherPic{
  width:50%;
  margin-left:auto;
  margin-right:auto;
}

.otherPic:hover{
  background:rgb(255,229,180,.8);
  border-radius:50%;
}


@media screen and (max-height:760px){
  .otherPic{
    width:20%;
    margin-left:200px;
  }
  .otherWord{
    margin-left:200px;
  }
}

@media screen and (max-width:736px){
  .otherPic{
    width:25%;
    margin-left:250px;
  }
  .otherWord{
    margin-left:200px;
  }
}

@media screen and (max-width:667px){
  .otherPic{
    width:20%;
    margin-left:195px;
  }
  .otherWord{
    margin-left:190px;
  }
}