.pastryPic{
  width:50%;
  margin-left:auto;
  margin-right:auto;
}


@media screen and (max-height:760px){
  .pastryPic{
    width:25%;
    margin-right:50px;
  }
  .pastryWord{
    margin-right:13px;
  }
}