.piePic{
  width:50%;
  margin-left:auto;
  margin-right:auto;
}

@media screen and (max-height:760px){
  .piePic{
    width:30%;
    margin-left:20px;
    background:
  }
  .pieWord{
    margin-left:20px;
  }
}

@media screen and (max-height:800px){
  .piePic{
    margin-left:20px;
  }
}