*{
  box-sizing: border-box;
  list-style: none;
  margin:0;
  padding:0;
  text-decoration: none;
}

/* NAV */

nav ul li{
  display:inline-block;
  margin: 0 10px;
  font-weight: bold;
}

/* page title */
.logo{
  float:left;
  font-size:30px;
  text-decoration: none;
  color:black;
}




nav{
  padding:10px;
}

.navLinks{
  text-decoration: none;
  color:black;
}

.navLinks:hover{
  color:whitesmoke;
}


.navBox{
  border:1px solid black;
  display:flex;
  justify-content: space-between;
  background-image: linear-gradient(to right top, #c8d0dc, #b1d0dc, #9dd1ce, #9ecdb1, #b5c591);
}



/* BODY */

.appMain{
  background-image:url('./Project-3-Pictures/table/table2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  max-width:1526px;
  min-width:1526px;
  width:1526px;
}

@media screen and (max-height:768px){
  .appMain{
    background:white;
  }
}



