*{
  box-sizing: border-box;
  list-style: none;
  margin:0;
  padding:0;
}

/* NAV */

nav ul li a{
  text-decoration: none;
}

nav ul li{
  display:inline-block;
  margin: 0 10px;
}


.logo{
  float:left;
  font-size:30px;
  text-decoration: none;
  color:black;
}




nav{
  padding:10px;
}

.navLinks{
  text-decoration: none;
  color:black;
}

.navLinks:hover{
  color:white;
}


.navBox{
  border:1px solid black;
  display:flex;
  justify-content: space-between;
  background-image: linear-gradient(to right top, #c8d0dc, #b5c6cd, #a7bab9, #9faea5, #9ca093);
}



/* BODY */
